*

!bun.lock
!package.json

!cloud-v2/
cloud-v2/*
!cloud-v2/tsconfig.base.json
!cloud-v2/packages/
cloud-v2/packages/*
!cloud-v2/packages/shared/
!cloud-v2/packages/shared/package.json
!cloud-v2/packages/auth/
!cloud-v2/packages/auth/**
!cloud-v2/packages/cli/
!cloud-v2/packages/cli/package.json
!cloud-v2/packages/cloud-client/
!cloud-v2/packages/cloud-client/package.json
!cloud-v2/packages/core/
!cloud-v2/packages/core/package.json
!cloud-v2/packages/proxy/
!cloud-v2/packages/proxy/package.json
!cloud-v2/packages/runtime/
!cloud-v2/packages/runtime/package.json

!miniapps/
miniapps/*
!miniapps/captions/
!miniapps/captions/package.json
!miniapps/example-miniapp/
!miniapps/example-miniapp/package.json
!miniapps/mentra-ai/
!miniapps/mentra-ai/package.json
!miniapps/merge/
miniapps/merge/*
!miniapps/merge/package.json
!miniapps/merge/backend/
!miniapps/merge/backend/**
!miniapps/merge/docker/
!miniapps/merge/docker/**
!miniapps/navigation/
miniapps/navigation/*
!miniapps/navigation/package.json
!miniapps/navigation/worker/
!miniapps/navigation/worker/package.json
!miniapps/translation/
!miniapps/translation/package.json

!sdk/
sdk/*
!sdk/miniapp-cli/
sdk/miniapp-cli/*
!sdk/miniapp-cli/package.json

!mobile/
mobile/*
!mobile/modules/
mobile/modules/*
!mobile/modules/miniapp/
mobile/modules/miniapp/*
!mobile/modules/miniapp/package.json
