<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- Receives turn-by-turn NavInfo from the Google Nav SDK so we can
         pull road names off StepInfo. Bound by Navigator.registerServiceForNavUpdates(). -->
    <service
        android:name="com.mentra.crust.navigation.NavInfoReceiverService"
        android:exported="false" />
  </application>
</manifest>
